html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
* {
    -webkit-tap-highlight-color: transparent;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

ol, ul {
    list-style:none;
}

input, select {
    vertical-align:middle;
}
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
a{
    color: inherit;
    text-decoration: none;
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
html,body{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 0.833vw;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    scroll-behavior: smooth;
    background: #002C41;
}
.body{
    min-width: 16.667vw;
}
.body.no-scroll{
    overflow: hidden;
}
.container{
    max-width: 80.99vw;
    padding: 0 0.781vw;
    margin: 0 auto;
}
.btn,
button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all .2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #EEDBBA;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: 'Inter', sans-serif;
    font-size: 0.833vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    user-select: none;
}
.btn{
    padding: 0.521vw;
    min-height: 2.396vw;
    background: #E40426;
    border: 0.052vw solid #E40426;
}
.btn:hover{
    background-color: transparent;
}
.btn:active{
    background-color: #d20524;
    transform: scale(0.95);
}
textarea,
textarea::placeholder,
input,
input::placeholder{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 0.729vw;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 0.984vw */
}
textarea,
input{
    padding: 0.521vw 0;
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    border-bottom: 0.052vw solid #EEDBBA;
}
textarea{
    padding: 0.521vw;
    resize: none;
    height: 5.521vw;
    border: 0.052vw solid #EEDBBA;
}
main.main{
    overflow: hidden;
}
@media (max-width: 768px) {
    html,body{
        font-size: 14px;
    }
    .body{
        min-width: 320px;
    }
    .container{
        max-width: 536px;
        padding: 0 28px;
    }
    .btn, button{
        font-size: 16px;
    }
    .btn{
        padding: 10px;
        min-height: 46px;
        border: 1px solid #E40426;
    }
    textarea,
    textarea::placeholder,
    input,
    input::placeholder{
        font-size: 14px;
    }
    textarea,
    input{
        padding: 10px 0;
        border-bottom: 1px solid #EEDBBA;
    }
    textarea{
        padding: 10px;
        height: 106px;
        border: 1px solid #EEDBBA;
    }
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.header__inner{
    padding: 2.708vw 0;
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 1.042vw;
    width: 100%;
    max-width: 74.792vw;
}
.header__logo{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 15.052vw;
    height: 3.438vw;
    position: relative;
}
.header__logo img{
    width: auto;
    height: 2.083vw;
}
.header__logo img:nth-of-type(1){
    margin-right: 0.417vw;
}
.header__logo img:nth-of-type(2){
    margin-right: 0.521vw;
}
.header__logo img:nth-of-type(3){
    margin-right: 0.313vw;
}
.header__logo img:nth-of-type(4){
    margin-right: 0.521vw;
}
.header__logo img:nth-of-type(5){
    margin-right: 0.521vw;
}
.header__logo img:last-of-type {
    position: absolute;
    top: -0.313vw;
    right: -0.365vw;
    height: 1.094vw;
}
.header__menu ul{
    display: flex;
    align-items: center;
    gap: 2.083vw;
}
.header__menu ul li a{
    display: flex;
    align-items: center;
    transition: all .1s ease;
    font-size: 1.042vw;
    font-weight: 600;
    line-height: 1.146vw; /* 110% */
    letter-spacing: -0.046vw;
    text-transform: uppercase;
    position: relative;
}
.header__menu ul li a::before{
    content: '';
    transition: all .1s ease;
    position: absolute;
    bottom: calc(100% + 0.781vw);
    width: 1.049vw;
    min-width: 1.049vw;
    height: 1.049vw;
    background-color: #E40426;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.header__menu-close,
.header__burger{
    display: none;
}
.header__menu ul li a:hover{
    color: #E40426;
}
@media (min-width: 769px) {
    .header__menu ul li a:hover::before{
        opacity: 1;
    }
}
@media (max-width: 768px) {
    .header{
        position: fixed;
        background-color: #002C41;
    }
    .header__inner{
        padding: 20px 0;
        gap: 20px;
        max-width: 100%;
        justify-content: space-between;
    }
    .header__logo{
        max-width: 175px;
        height: 25px;
    }
    .header__logo img{
        height: 25px;
    }
    .header__logo img:nth-of-type(1){
        margin-right: 5px;
    }
    .header__logo img:nth-of-type(2){
        margin-right: 7px;
    }
    .header__logo img:nth-of-type(3){
        margin-right: 3px;
    }
    .header__logo img:nth-of-type(4){
        margin-right: 7px;
    }
    .header__logo img:nth-of-type(5){
        margin-right: 7px;
    }
    .header__logo img:last-of-type {
        top: -11.01px;
        right: -19.008px;
        height: 14.005px;
    }

    .header__menu{
        position: fixed;
        inset: 0;
        background-color: hwb(199 0% 75% / 0.7);
        display: flex;
        flex-direction: column;
        opacity: 0;
        pointer-events: none;  
        transition: all .3s ease; 
    }
    .header__menu ul{
        transform: translateX(100%);
        transition: all .2s ease;
        gap: 22px;
        flex-direction: column;
        align-items: start;
        max-width: 331px;
        width: 100%;
        background-color: #EEDBBA;
        height: auto;
        flex: 1;
        margin-left: auto;
        padding: 131px 47px 20px;
    }
    .header.show-menu .header__menu{
        opacity: 1;
        pointer-events: all;
    }
    .header.show-menu .header__menu ul{
        transform: translateX(0%);
    }
    .header__menu ul li a{
        font-size: 32px;
        line-height: normal;
        letter-spacing: normal;
        color: #002C41;
    }
    .header__menu ul li a::before{
        content: none;
    }
    .header__menu-close,
    .header__burger{
        display: flex;
    }
    .header__menu-close{
        width: 22px;
        height: 22px;
        min-width: 22px;
        position: absolute;
        top: 23px;
        right: 27px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none'%3E%3Cpath d='M10.96 8.83887L19.7988 0.000976562L21.9199 2.12207L13.0811 10.96L21.9199 19.7988L19.7988 21.9199L10.96 13.0811L2.12109 21.9209L0 19.7998L8.83887 10.96L0 2.12109L2.12109 0L10.96 8.83887Z' fill='%23E40426'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
/* hero */
.hero{
    margin-top: 15.99vw;
}
.hero__inner{
    display: flex;
    gap: 1.563vw;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.hero__content{
    width: 100%;
    margin-left: auto;
    max-width: 39.792vw;
}
.hero__title{
    color: #EEDBBA;
    font-size: 3.333vw;
    font-weight: 800;
    line-height: 125%; /* 4.167vw */
    letter-spacing: 0.1vw;
    width: 100%;
    max-width: 26.042vw;
}
.hero__name{
    margin-top: 1.354vw;
    max-width: 24.896vw;
    width: 100%;
    margin-left: auto;
    font-size: 1.875vw;
    font-weight: 600;
    line-height: 125%; /* 2.344vw */
    letter-spacing: 0.056vw;
}
.hero__bottom{
    margin-top: 1.927vw;
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 0.521vw;
}
.hero__more{
    color: #EEDBBA;
    text-align: center;
    font-size: 0.833vw;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
}
.hero__more::after{
    content: '';
    position: absolute;
    top: calc(100% + 0.26vw);
    left: 0;
    right: 0;
    height: 0.156vw;
    background-color: #F00;
    width: 0%;
    transition: all .1s ease;
    pointer-events: none;
}
.hero__more:hover::after{
    width: 100%;
}
.hero__btn{
    margin-top: 2.292vw;
    max-width: 14.063vw;
    width: 100%;
}
.hero__animated {
    position: absolute;
    width: 46.875vw;
    height: 46.875vw;
    z-index: -1;
    top: -12.5vw;
    left: -10.417vw;
}
.hero__animated canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
    .hero{
        margin-top: 280px;
    }
    .hero__inner{
        gap: 0;
        flex-direction: column;
    }
    .hero__content{
        max-width: 764.006px;
    }
    .hero__title{
        color: #EEDBBA;
        font-size: 36px;
        font-weight: 800;
        line-height: 125%; /* 45px */
        letter-spacing: 1.08px;
        max-width: 100%;
    }
    .hero__name{
        margin-top: 40px;
        max-width: 100%;
        margin-left: 67px;
        font-size: 20px;
        letter-spacing: 0.6px;
    }
    .hero__bottom{
        align-items: center;
        margin-top: 50px;
        gap: 10px;
    }
    .hero__more{
        font-size: 14px;
        text-wrap: nowrap;
    }
    .hero__descr{
        max-width: 183px;
    }
    .hero__descr br{
        display: none;
    }
    .hero__more::after{
        top: calc(100% + 7px);
        height: 3px;
    }
    .hero__btn{
        margin: 50px auto 0;
        max-width: 270px;
    }
    .hero__animated {
        width: 400px;
        height: 400px;
        top: -240px;
        left: 50%;
        transform: translateX(-50%);
    }
}
/* services */
.services{
    padding-top: 3.646vw;
    position: relative;
    z-index: 2;
}
.services__top{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 1.042vw;
    width: 100%;
    max-width: 77.865vw;
}
.services__title{
    color: #E40426;
    font-size: 11.198vw;
    font-weight: 800;
    line-height: 118%; /* 13.214vw */
    text-transform: uppercase;
}
.services__info{
    margin-top: 1.927vw;
    display: flex;
    flex-direction: column;
    gap: 1.354vw;
    width: 100%;
    max-width: 13.906vw;
}
.services__info-time{
    display: flex;
    align-items: end;
    gap: 1.094vw;
    color: #EEDBBA;
    font-size: 3.333vw;
    font-weight: 800;
    line-height: 125%; /* 4.167vw */
    letter-spacing: 0.1vw;
}
.services__info-time::before{
    content: '';
    display: inline-block;
    margin-bottom: 0.208vw;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='63' height='63' viewBox='0 0 63 63' fill='none'%3E%3Cpath d='M31.5 61.0312C15.2165 61.0312 1.96875 47.7835 1.96875 31.5C1.96875 15.2165 15.2165 1.96875 31.5 1.96875C47.7835 1.96875 61.0312 15.2165 61.0312 31.5C61.0312 47.7835 47.7835 61.0312 31.5 61.0312ZM31.5 5.90625C17.388 5.90625 5.90625 17.388 5.90625 31.5C5.90625 45.612 17.388 57.0938 31.5 57.0938C45.612 57.0938 57.0938 45.612 57.0938 31.5C57.0938 17.388 45.612 5.90625 31.5 5.90625Z' fill='%23EEDBBA'/%3E%3Cpath d='M43.3125 45.2812C42.8085 45.2812 42.3045 45.0883 41.9206 44.7044L30.1081 32.8919C29.738 32.5218 29.5312 32.0217 29.5312 31.5V15.75C29.5312 14.6633 30.4133 13.7812 31.5 13.7812C32.5867 13.7812 33.4688 14.6633 33.4688 15.75V30.6849L44.7044 41.9206C45.4742 42.6904 45.4742 43.9346 44.7044 44.7044C44.3205 45.0883 43.8165 45.2812 43.3125 45.2812Z' fill='%23EEDBBA'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 3.281vw;
    height: 3.281vw;
    min-width: 3.281vw;
}
.services__info-descr{
    font-size: 1.25vw;
    font-weight: 700;
    line-height: 104%; /* 1.3vw */
    text-transform: uppercase;
}
.services__block{
    margin-top: 5.365vw;
    display: grid;
    grid-template-columns: 0.204fr 0.2135fr 0.204fr 0.2196fr 0.1944fr;
    gap: 3.542vw;
    max-width: 76.302vw;
    width: 100%;
}
.services__item-title{
    color: #EEDBBA;
    font-size: 1.25vw;
    font-weight: 700;
    line-height: 104%; /* 1.3vw */
    text-transform: uppercase;
}
.services__item-line{
    display: inline-block;
    height: 0.156vw;
    width: 100%;
    background-color: #FF0000;
    margin: 0.833vw 0;
}
@media (max-width: 768px) {
    .services{
        padding-top: 100px;
    }
    .services__top{
        gap: 50px;
        flex-direction: column;
        max-width: 100%;
    }
    .services__title{
        font-size: 63.545px;
        line-height: 118%; /* 253.709px */
    }
    .services__info{
        margin-top: 0;
        margin-left: auto;
        gap: 15px;
        max-width: 158px;
    }
    .services__info-time{
        gap: 6px;
        font-size: 24px;
        line-height: 125%; /* 80.006px */
        letter-spacing: 0.72px;
        align-items: center;
    }
    .services__info-time::before{
        margin-bottom: 0;
        width: 20.678px;
        height: 20.678px;
        min-width: 20.678px;
    }
    .services__info-descr{
        font-size: 14px;
        line-height: 104%; /* 24.96px */
    }
    .services__block{
        gap: 50px;
        max-width: 235px;
        margin: 40px auto 0;
        grid-template-columns: 1fr;
    }
    .services__item-title{
        font-size: 16px;
        line-height: 104%; /* 24.96px */
    }
    .services__item-line{
        height: 3px;
        margin: 16px 0;
    }
}
/* whywe */
.whywe{
    position: relative;
    margin-top: 7.813vw;
}
#why-choose{
    position: absolute;
    top: -100px;
}
.whywe__inner{
    position: relative;
    max-width: 77.917vw;
    width: 100%;
}
.whywe__content{
    margin-left: 7.969vw;
    max-width: 26.042vw;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.whywe__btn{
    order: 1;
    margin-top: 4.583vw;
    max-width: 11.146vw;
    width: 100%;
    margin-left: auto;
}
.whywe__line{
    margin-bottom: 1.615vw;
    width: 100%;
    transform-origin: left center;
    transform: scaleX(0);
    max-width: 12.24vw;
    height: 0.156vw;
    background-color: #E60A14;
    display: inline-block;
}
.whywe__title{
    color: #EEDBBA;
    font-size: 3.333vw;
    font-weight: 800;
    line-height: 125%; /* 4.167vw */
    letter-spacing: 0.1vw;
}
.whywe__info{
    position: absolute;
    top: 9.479vw;
    right: 0;
    display: grid;
    grid-template-columns: repeat(4, 4.948vw);
    gap: 1.042vw;
    width: 100%;
    max-width: 38.385vw;
    justify-content: space-between;
}
.whywe__info-icon{
    background: #EEDBBA;
    width: 4.948vw;
    height: 4.948vw;
    min-width: 4.948vw;
    display: flex;
    align-items: center;
    transition: all .1s ease;
    justify-content: center;
}
.whywe__info-icon img{
    width: 2.5vw;
    height: auto;
}
.whywe__info-descr{
    font-size: 1.25vw;
    font-weight: 300;
    line-height: 115%; /* 1.438vw */
    margin-top: 0.938vw;
}
.whywe__info-item:hover .whywe__info-icon{
    background-color: #F00;
}
.whywe__descr{
    margin-top: 1.042vw;
    max-width: 21.615vw;
}
.whywe__block{
    margin-top: 2.344vw;
    display: flex;
    flex-direction: column;
    gap: 2.083vw;
    max-width: 22.76vw;
    width: 100%;
}
.whywe__item{
    border-top: 0.104vw solid #fff;
    padding-top: 0.625vw;
}
.whywe__item-title{
    color: #EEDBBA;
    font-size: 1.25vw;
    font-weight: 700;
    line-height: 104%; /* 1.3vw */
    text-transform: uppercase;
}
.whywe__item-descr{
    margin-top: 0.521vw;
}
.whywe__item:nth-of-type(2) .whywe__item-descr{
    max-width: 18.958vw;
}
.whywe__num{
    color: #EEDBBA;
    font-size: 30vw;
    font-weight: 800;
    line-height: 118%; /* 35.4vw */
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    right: -17.708vw;
    width: 35.781vw;
}
@media (max-width: 768px) {
    .whywe{
        margin-top: 50px;
    }
    .whywe__inner{
        max-width: 100%;
    }
    .whywe__content{
        margin-left: 0;
        max-width: 100%;
    }
    .whywe__btn{
        max-width: 100%;
        max-width: 234px;
        margin: 60px auto 0;
    }
    .whywe__line {
        margin-bottom: 30px;
        max-width: 85px;
        height: 3px;
    }
    .whywe__title{
        font-size: 36px;
        line-height: 125%; /* 80.006px */
        letter-spacing: 1.08px;
    }
    .whywe__info{
        top: initial;
        position: initial;
        margin-top: 30px;
        gap: 10px;
        grid-template-columns: repeat(4, 65px);
        max-width: 100%;
        margin-bottom: 50px;
    }
    .whywe__info-icon{
        width: 65px;
        height: 65px;
        min-width: 65px;
    }
    .whywe__info-icon img{
        width: 32px;
    }
    .whywe__info-descr{
        font-size: 12px;
        line-height: 115%; /* 27.61px */
        margin-top: 8px;
    }
    .whywe__descr{
        max-width: 234px;
        margin: 20px auto 0;
        width: 100%;
    }
    .whywe__block{
        gap: 50px;
        max-width: 234px;
        margin: 50px auto 0;
    }
    .whywe__item{
        border-top: 2px solid #fff;
        padding-top: 15px;
    }
    .whywe__item-title{
        font-size: 16px;
        line-height: 104%; /* 24.96px */
    }
    .whywe__item-descr{
        margin-top: 15px;
    }
    .whywe__item:nth-of-type(2) .whywe__item-descr{
        max-width: 363.994px;
    }
    .whywe__num{
        position: initial;
        font-size: 293.948px;
        line-height: 118%; /* 679.68px */
        width: auto;
        margin-left: 24px;
        line-height: 293.948px;
        margin-top: 30px;
    }
}
/* started */
.started{
    position: relative;
    margin-top: 8.854vw;
}
#how-it-works{
    position: absolute;
    top: -100px;
}
.started__title{
    font-size: 3.333vw;
    font-weight: 800;
    line-height: 125%; /* 4.167vw */
    letter-spacing: 0.1vw;
    max-width: 44.688vw;
    display: flex;
    flex-direction: column;
}
.started__line{
    margin-bottom: 1.615vw;
    width: 100%;
    transform-origin: left center;
    transform: scaleX(0);
    max-width: 12.24vw;
    height: 0.156vw;
    background-color: #E60A14;
    display: inline-block;
}
.started__block{
    margin-top: 1.615vw;
    max-width: 63.594vw;
    width: 100%;
    margin-left: auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 1.042vw;
}
.started__item{
    width: 100%;
    max-width: 14.844vw;
}
.started__item-num{
    color: #E40426;
    font-size: 11.198vw;
    font-weight: 800;
    line-height: 118%; /* 13.214vw */
    text-transform: uppercase;
}
.started__item-title{
    color: #EEDBBA;
    font-size: 1.25vw;
    font-weight: 700;
    line-height: 104%; /* 1.3vw */
    text-transform: uppercase;
    margin-top: 0.677vw;
    margin-right: -1.042vw;
}
.started__item-line{
    display: inline-block;
    margin: 0.99vw 0;
    background-color: #E40426;
    height: 0.156vw;
    width: 100%;
}
@media (max-width: 768px) {
    .started{
        margin-top: 60px;
    }
    .started__title{
        font-size: 36px;
        line-height: 125%; /* 80.006px */
        letter-spacing: 1.08px;
        max-width: 100%;
    }
    .started__line{
        margin-bottom: 15px;
        max-width: 85px;
        height: 3px;
    }
    .started__block{
        max-width: 232px;
        flex-direction: column;
        margin: 60px auto 0;
        gap: 60px;
    }
    .started__item{
        max-width: 100%;
    }
    .started__item-num{
        font-size: 120px;
        line-height: 118%; /* 253.709px */
    }
    .started__item-title{
        font-size: 16px;
        line-height: 104%; /* 24.96px */
        margin-top: 10px;
        margin-right: 0;
    }
    .started__item-line{
        margin: 19px 0;
        height: 3px;
    }
}
/* credentials */
.credentials{
    margin-top: 11.979vw;
}
.credentials__inner{
    max-width: 60.625vw;
    margin-left: auto;
    width: 100%;
}
.credentials__top{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 1.042vw;
    width: 100%;
    max-width: 42.031vw;
    margin-left: 7.917vw;
}
.credentials__title{
    display: flex;
    flex-direction: column;
    color: #EEDBBA;
    font-size: 3.333vw;
    font-weight: 800;
    line-height: 125%; /* 4.167vw */
    letter-spacing: 0.1vw;
    max-width: 25.208vw;
    width: 100%;
}
.credentials__line{
    margin-bottom: 0.938vw;
    width: 100%;
    max-width: 12.24vw;
    height: 0.156vw;
    background-color: #fff;
    display: inline-block;
}
.credentials__name{
    font-size: 1.25vw;
    font-weight: 600;
    line-height: 115%; /* 1.438vw */
    text-transform: uppercase;
    max-width: 10.26vw;
    margin-top: 2.083vw;
    width: 100%;
}
.credentials__info{
    margin-top: 2.5vw;
    position: relative;
    padding: 2.083vw 7.813vw;
}
.credentials__info span{
    display: inline-block;
    background-color: #EEDBBA;
    position: absolute;
}
.credentials__info span:nth-of-type(1) {
    top: 0;
    left: 0;
    width: 0;
    height: 0.052vw;
}
.credentials__info span:nth-of-type(2) {
    top: 0;
    right: 0;
    width: 0.052vw;
    height: 0;
}
.credentials__info span:nth-of-type(3) {
    bottom: 0;
    right: 0;
    width: 0;
    height: 0.052vw;
}
.credentials__info span:nth-of-type(4) {
    bottom: 0;
    left: 0;
    width: 0.052vw;
    height: 0;
}
.credentials__info-descr{
    font-size: 1.25vw;
    line-height: 115%;
}
.credentials__bottom{
    max-width: 45.521vw;
    width: 100%;
    margin-top: 2.448vw;
    margin-left: 7.917vw;
    display: flex;
    align-items: start;
    gap: 1.042vw;
    justify-content: space-between;
}
.credentials__descr{
    width: 100%;
    max-width: 20.938vw;
}
.credentials__wedo{
    width: 100%;
    max-width: 21.719vw;
    color: #EEDBBA;
}
@media (max-width: 768px) {
    .credentials{
        margin-top: 120px;
    }
    .credentials__inner{
        max-width: 100%;
    }
    .credentials__top{
        gap: 33px;
        max-width: 100%;
        margin-left: 0;
        align-items: center;
    }
    .credentials__title{
        font-size: 24px;
        line-height: 125%; /* 80.006px */
        letter-spacing: 0.72px;
        max-width: 170px;
    }
    .credentials__line{
        margin-bottom: 12px;
        max-width: 85px;
        height: 3px;
    }
    .credentials__name{
        font-size: 14px;
        line-height: 115%; /* 27.61px */
        max-width: 116px;
        margin-top: 0;
    }
    .credentials__info{
        margin-top: 50px;
        padding: 35px 28px;
    }
    .credentials__info span:nth-of-type(1) {
        height: 1px;
    }
    .credentials__info span:nth-of-type(2) {
        width: 1px;
    }
    .credentials__info span:nth-of-type(3) {
        height: 1px;
    }
    .credentials__info span:nth-of-type(4) {
        width: 1px;
    }
    .credentials__info-descr{
        font-size: 14px;
    }
    .credentials__bottom{
        max-width: 100%;
        margin-top: 50px;
        margin-left: 0;
        flex-direction: column;
        gap: 20px;
    }
    .credentials__descr{
        max-width: 100%;
    }
    .credentials__wedo{
        max-width: 100%;
    }
}
/* far */
.faq{
    margin-top: 9.375vw;
    position: relative;
}
#faq{
    position: absolute;
    top: -100px;
}
.faq__title{
    color: #EEDBBA;
    text-align: right;
    font-size: 3.333vw;
    font-style: normal;
    font-weight: 800;
    line-height: 125%; /* 4.167vw */
    letter-spacing: 0.1vw;
    width: 100%;
    max-width: 33.854vw;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.faq__line{
    margin-bottom: 0.625vw;
    width: 100%;
    max-width: 12.24vw;
    height: 0.156vw;
    background-color: #E40426;
    margin-left: auto;
    display: flex;
    transform-origin: right center;
    transform: scaleX(0);
}
.faq__inner{
    max-width: 62.448vw;
    margin: 0 auto;
    width: 100%;
}
.faq__block{
    margin-top: 5.208vw;
    display: flex;
    flex-direction: column;
    gap: 0.417vw;
}
.faq__item-title{
    user-select: none;
    padding: 2.083vw 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.042vw;
    cursor: pointer;
    transition: all .1s ease;
    color: #FFF;
    font-size: 1.25vw;
    font-weight: 700;
    line-height: 104%; /* 1.3vw */
    text-transform: uppercase;
    border-bottom: 0.156vw solid #FFF;
}
.faq__item-title::after{
    content: '';
    width: 1.563vw;
    height: 1.563vw;
    min-width: 1.563vw;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Cpath d='M0 14.9976H30' stroke='white' stroke-width='3'/%3E%3Cpath d='M14.9976 30L14.9976 2.98023e-08' stroke='white' stroke-width='3'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .1s ease;
}
.faq__item.active .faq__item-title,
.faq__item-title:hover{
    color: #F00;
}
.faq__item-content{
    margin-top: 2.917vw;
    max-width: 41.406vw;
    margin-left: 0.573vw;
    width: 100%;
    display: none;
}
.faq__item-title:hover::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Cpath d='M0 14.9976H30' stroke='%23FF0000' stroke-width='3'/%3E%3Cpath d='M14.9976 30L14.9976 2.98023e-08' stroke='%23FF0000' stroke-width='3'/%3E%3C/svg%3E");
}
.faq__item.active .faq__item-title::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='1' viewBox='0 0 30 1' fill='none'%3E%3Cpath d='M0 0.5H30' stroke='%23FF0000'/%3E%3C/svg%3E");
}
@media (max-width: 768px) {
    .faq{
        margin-top: 140px;
    }
    .faq__title{
        font-size: 24px;
        line-height: 125%; /* 80.006px */
        letter-spacing: 1.72px;
        max-width: 323px;
    }
    .faq__line{
        margin-bottom: 12px;
        max-width: 85px;
        height: 3px;
    }
    .faq__inner{
        max-width: 100%;
    }
    .faq__block{
        margin-top: 20px;
        gap: 0;
    }
    .faq__item-title{
        padding: 20px 0;
        gap: 10px;
        font-size: 10px;
        line-height: 104%; /* 24.96px */
        border-bottom: 1px solid #FFF;
    }
    .faq__item-title::after{
        width: 14px;
        height: 14px;
        min-width: 14px;
    }
    .faq__item-content{
        margin-top: 20px;
        max-width: 100%;
        margin-left: 0;
    }
    .faq__item-descr{
        font-size: 12px;
    }
}
/* contact */
.contact{
    position: relative;
    margin-top: 14.583vw;
}
#contact{
    position: absolute;
    top: -100px;
}
.contact__top{
    display: flex;
    align-items: start;
    gap: 1.042vw;
    justify-content: space-between;
    width: 100%;
    max-width: 38.75vw;
}
.contact__title{
    font-size: 3.333vw;
    font-weight: 800;
    line-height: 125%; /* 4.167vw */
    letter-spacing: 0.1vw;
}
.contact__line{
    margin-bottom: 2.188vw;
    width: 100%;
    max-width: 12.24vw;
    height: 0.156vw;
    background-color: #E60A14;
    display: inline-block;
    transform-origin: left center;
    transform: scaleX(0);
}
.contact__menu{
    display: flex;
    flex-direction: column;
    gap: 0.625vw;
    margin-top: 2.76vw;
}
.contact__menu li a{
    display: flex;
    align-items: center;
    max-width: max-content;
    transition: all .1s ease;
    font-size: 1.042vw;
    font-weight: 600;
    line-height: 1.146vw; /* 110% */
    letter-spacing: -0.046vw;
    text-transform: uppercase;
}
.contact__menu li a:hover{
    color: #F00;
}
.contact__content{
    margin-top: 1.25vw;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 1.042vw;
}
.contact__right{
    margin-top: 1.927vw;
    width: 100%;
    max-width: 14.948vw;
}
.contact__right-title{
    color: #FFF;
    font-size: 1.875vw;
    font-weight: 600;
    line-height: 125%; /* 2.344vw */
    letter-spacing: 0.056vw;
}
.contact__right-line{
    width: 100%;
    max-width: 12.24vw;
    height: 0.156vw;
    background-color: #fff;
    display: inline-block;
    margin-bottom: 0.677vw;
    margin-top: 2.396vw;
}
.contact__right-btn{
    margin-top: 1.563vw;
    width: 100%;
}
.contact__left{
    width: 100%;
    height: auto;
    max-width: 57.083vw;
    display: flex;
    flex-direction: column;
    gap: 1.042vw;
    justify-content: space-between;
    align-items: start;
}
.contact__logo{
    width: 100%;
    height: 13.073vw;
    max-width: 57.083vw;
    display: flex;
    align-items: end;
    position: relative;
}
.contact__logo img{
    height: 7.813vw;
    width: auto;
}
.contact__logo img:nth-of-type(1){
    margin-right: 1.615vw;
}
.contact__logo img:nth-of-type(2){
    margin-right: 1.979vw;
}
.contact__logo img:nth-of-type(3){
    margin-right: 1.25vw;
}
.contact__logo img:nth-of-type(4){
    margin-right: 2.083vw;
}
.contact__logo img:nth-of-type(5){
    margin-right: 1.979vw;
}
.contact__logo img:nth-of-type(7){
    position: absolute;
    top: 0;
    right: 0;
    height: 4.219vw;
}
.contact__info{
    width: 100%;
    max-width: 46.563vw;
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 1.042vw;
}
.contact__info-adress {
    width: 100%;
    max-width: 15.108vw;
    word-break: break-all;
}
.contact__info-write{
    display: flex;
    align-items: center;
    gap: 1.823vw;
    width: 100%;
    max-width: 23.438vw;
}
.contact__info-mail{
    font-size: 1.25vw;
    font-weight: 300;
    line-height: 115%; /* 1.438vw */
    transition: all .1s ease;
}
.contact__info-mail:hover{
    color: #F00;
}
.contact__info-btn{
    max-width: 10.885vw;
    width: 100%;
}
@media (max-width: 768px) {
    .contact{
        margin-top: 100зч;
    }
    .contact__top{
        gap: 20.006px;
        max-width: 744px;
    }
    .contact__title{
        font-size: 36px;
        line-height: 125%; /* 80.006px */
        letter-spacing: 1.08px;
    }
    .contact__line{
        margin-bottom: 12px;
        max-width: 85px;
        height: 3px;
    }
    .contact__menu{
        gap: 12px;
        font-size: 14px;
        line-height: 22px; /* 110% */
        letter-spacing: -0.88px;
        margin-top: 0;
    }
    .contact__menu li a{
        font-size: 14px;
        line-height: 22px; /* 110% */
        letter-spacing: -0.88px;
    }
    .contact__content{
        margin-top: 50px;
        gap: 0;
        flex-direction: column;
    }
    .contact__right{
        margin: 50px auto 0;
        max-width: 234px;
    }
    .contact__right-title{
        font-size: 24px;
        line-height: 125%; /* 45.005px */
        letter-spacing: 0.72px;
    }
    .contact__right-line{
        max-width: 100%;
        height: 3px;
        margin-bottom: 16px;
        margin-top: 16px;
    }
    .contact__right-btn{
        margin-top: 20px;
    }
    .contact__left{
        max-width: 100%;
        gap: 40px;
    }
    .contact__info{
        flex-direction: column;
        max-width: 234px;
        margin: 0 auto;
        gap: 20px;
    }
    .contact__info-adress{
        max-width: 100%;
    }
    .contact__info-write{
        gap: 20px;
        max-width: 100%;
        flex-direction: column;
        align-items: start;
    }
    .contact__info-mail{
        font-size: 24px;
        line-height: 115%; /* 27.61px */
    }
    .contact__info-btn{
        max-width: 100%;
    }

    .contact__logo {
        width: 100%;
        height: 75px;
        max-width: 330px;
        margin: 0 auto;
    }
    .contact__logo img{
        height: 50px;
        width: auto;
    }
    .contact__logo img:nth-of-type(1){
        margin-right: 5px;
    }
    .contact__logo img:nth-of-type(2){
        margin-right: 5px;
    }
    .contact__logo img:nth-of-type(3){
        margin-right: 5px;
    }
    .contact__logo img:nth-of-type(4){
        margin-right: 5px;
    }
    .contact__logo img:nth-of-type(5){
        margin-right: 5px;
    }
    .contact__logo img:nth-of-type(7){
        top: 0;
        right: 0;
        height: 20px;
    }
}
/* footer */
.footer{
    margin-top: 4.896vw;;
}
.footer__inner{
    border-top: 0.156vw solid #fff;
    padding: 1.563vw 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__menu{
    display: flex;
    align-items: center;
    gap: 2.865vw;
}
.footer__menu li a{
    font-size: 1.042vw;
    font-weight: 600;
    line-height: 1.146vw; /* 110% */
    letter-spacing: -0.046vw;
    text-transform: uppercase;
    transition: all .1s ease;
}
.footer__menu li a:hover{
    color: #F00;
}
@media (max-width: 768px) {
    .footer{
        margin-top: 55px;
    }
    .footer__inner{
        border-top: 2px solid #fff;
        padding: 20px 0;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .footer__menu{
        gap: 10px;
    }
    .footer__menu li a{
        font-size: 12px;
        line-height: 22px; /* 110% */
        letter-spacing: -0.88px;
    }
    .footer__copy{
        font-size: 12px;
    }
}
/* popup */
.popup{
    position: fixed;
    inset: 0;
    background: rgba(238, 219, 186, 0.50);
    z-index: 123;
    overflow: auto;
    opacity: 0;
    pointer-events: none;
    transition: all .4s ease;
}
.popup__inner{
    margin: 3% auto;
    background: #002C41;
    width: 100%;
    max-width: 28.646vw;
    padding: 2.708vw 3.646vw;
    position: relative;
    transform: translateY(-10.417vw);
    transition: all .5s ease;
}
.popup.active{
    opacity: 1;
    pointer-events: all;
}
.popup.active .popup__inner{
    transform: translateY(0);
}
.popup__close{
    position: absolute;
    top: 1.042vw;
    right: 1.042vw;
    width: 1.042vw;
    min-width: 1.042vw;
    height: 1.042vw;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Crect x='1.73926' y='6.10352e-05' width='25.8247' height='2.4595' transform='rotate(45 1.73926 6.10352e-05)' fill='white'%3E%3C/rect%3E%3Crect x='20.0005' y='1.73914' width='25.8247' height='2.4595' transform='rotate(135 20.0005 1.73914)' fill='white'%3E%3C/rect%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all .1s ease;
}
.popup__close:hover{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Crect x='1.73926' y='6.10352e-05' width='25.8247' height='2.4595' transform='rotate(45 1.73926 6.10352e-05)' fill='%23FF0000'/%3E%3Crect x='20.0005' y='1.73914' width='25.8247' height='2.4595' transform='rotate(135 20.0005 1.73914)' fill='%23FF0000'/%3E%3C/svg%3E");
}
.popup__title{
    color: #EEDBBA;
    text-align: center;
    font-size: 1.875vw;
    font-weight: 800;
    line-height: 125%; /* 2.344vw */
    letter-spacing: 0.056vw;
}
.popup__form{
    margin-top: 3.125vw;
}
.popup__form-block{
    position: relative;
}
.popup__form-label{
    color: #EEDBBA;
    font-size: 0.833vw;
    font-weight: 400;
    line-height: 135%; /* 1.125vw */
    text-transform: uppercase;
}
.popup__form-error{
    color: #E60A14;
    text-align: right;
    font-size: 0.521vw;
    font-weight: 700;
    line-height: 135%; /* 0.703vw */
    position: absolute;
    top: calc(100% + 0.104vw);
    right: 0;
    opacity: 0;
    transition: all .1s ease;
}
.popup__form-error.active{
    opacity: 1;
}
.popup__form-agree{
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.625vw;
    margin-top: 0.729vw;
}
.popup__form-agree label{
    display: flex;
    align-items: center;
}
.popup__form-agree label input{
    display: none;
}
.popup__form-agree label span{
    width: 1.198vw;
    height: 1.198vw;
    min-width: 1.198vw;
    border: 0.052vw solid #FFF;
    display: flex;
    cursor: pointer;
    position: relative;
}
.popup__form-agree label span::after{
    content: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 0.625vw;
    height: 0.625vw;
}
.popup__form-agree label input:checked + span::after{
    content: '';
}
.popup__form-agree--descr{
    color: #EEDBBA;
    font-size: 0.729vw;
    font-weight: 500;
    line-height: 115%; /* 0.839vw */
}
p > a:not(:hover){
    text-decoration: underline;
}
.popup__form-send{
    width: 100%;
    max-width: 8.333vw;
    margin-left: auto;
    margin-top: 0.833vw;
}
.custom-select{
    position: relative;
}
.custom-select-selected{
    padding: 0.521vw 0;
    border-bottom: 0.052vw solid #EEDBBA;
    font-size: 0.729vw;
    line-height: 135%; /* 0.984vw */
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.521vw;
    justify-content: space-between;
}
.custom-select-selected::after{
    content: '';
    display: inline-block;
    width: 0.573vw;
    height: 0.313vw;
    min-width: 0.573vw;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='7' viewBox='0 0 11 7' fill='none'%3E%3Cpath d='M0.353516 0.353577L5.40381 5.40387L10.4541 0.353577' stroke='%23FFF4F4'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.custom-select-dropdown{
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    background: #EEDBBA;
    z-index: 10;
    flex-direction: column;
}
.custom-select-option{
    padding: 0.521vw 0.573vw;
    border-bottom: 0.052vw solid #D8C5A4;
    display: inline-block;
    color: #002C41;
    font-size: 0.729vw;
    line-height: 135%; /* 0.984vw */
    cursor: pointer;
}
.custom-select-option:hover{
    background-color: #D8C5A4;
}
.custom-select.active .custom-select-dropdown{
    display: flex;
}
.custom-select.active .custom-select-selected::after{
    transform: rotate(180deg);
}
.popup__form-textarea{
    margin-top: 0.781vw;
}
.popup__form-block + .popup__form-block{
    margin-top: 0.833vw;
}
@media (max-width: 768px) {
    .popup__inner {
        max-width: 400px;
        padding: 40px 20px;
        margin: 10% auto;
        transform: translateY(-200.006px);
    }
    .popup__close{
        top: 20.006px;
        right: 20.006px;
        width: 20.006px;
        min-width: 20.006px;
        height: 20.006px;
    }
    .popup__title{
        font-size: 24px;
        line-height: 125%; /* 45.005px */
        letter-spacing: 1px;
    }
    .popup__form{
        margin-top: 40px;
    }
    .popup__form-label{
        font-size: 14px;
        line-height: 135%; /* 21.6px */
    }
    .popup__form-error{
        font-size: 10px;
        line-height: 135%; /* 13.498px */
        top: calc(100% + 1.997px);
    }
    .popup__form-agree{
        gap: 12px;
        margin-top: 13.997px;
    }
    .popup__form-agree label span{
        width: 23.002px;
        height: 23.002px;
        min-width: 23.002px;
        border: 0.998px solid #FFF;
    }
    .popup__form-agree label span::after{
        width: 12px;
        height: 12px;
    }
    .popup__form-agree--descr{
        font-size: 13.997px;
        line-height: 115%; /* 16.109px */
    }
    .popup__form-send{
        max-width: 159.994px;
        margin-top: 15.994px;
    }
    .custom-select-selected{
        padding: 10.003px 0;
        border-bottom: 0.998px solid #EEDBBA;
        font-size: 13.997px;
        line-height: 135%; /* 18.893px */
        gap: 10.003px;
    }
    .custom-select-selected::after{
        width: 11.002px;
        height: 6.01px;
        min-width: 11.002px;
    }
    .custom-select-option{
        padding: 10.003px 11.002px;
        border-bottom: 0.998px solid #D8C5A4;
        font-size: 13.997px;
        line-height: 135%; /* 18.893px */
    }
    .popup__form-textarea{
        margin-top: 14.995px;
    }
    .popup__form-block + .popup__form-block{
        margin-top: 15.994px;
    }
}
/* pagecontent */
.pagecontent{
    margin-top: 10.677vw;
}
.pagecontent__title{
    text-align: center;
    color: #EEDBBA;
    font-size: 3.333vw;
    font-weight: 800;
    line-height: 125%; /* 4.167vw */
    letter-spacing: 0.1vw;
}
.pagecontent__content{
    max-width: 52.083vw;
    margin: 2.604vw auto 0;
}
.pagecontent__content ol li {
    list-style: decimal;
    list-style-position: inside;
}
.pagecontent + .contact{
    margin-top: 3.125vw;
}
@media (max-width: 768px) {
    .pagecontent{
        margin-top: 100px;
    }
    .pagecontent__title{
        font-size: 32px;
        line-height: 125%; /* 80.006px */
        letter-spacing: 1px;
    }
    .pagecontent__content{
        margin-top: 40px;
        max-width: 100%;
    }
    .pagecontent + .contact{
        margin-top: 60px;
    }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 52.083vw transparent inset !important;
    box-shadow: 0 0 0 52.083vw transparent inset !important;
    -webkit-text-fill-color: #fff !important;
    transition: background-color 9999s ease-in-out 0s; 
}
.hero__animated {
    transform-origin: center;
}
.hero__title span,
.hero__title .letter,
.hero__name span {
    display: inline-block;
}
.hero__name span{
    opacity: 0;
}

.upbtn{
    position: fixed;
    bottom: 1.042vw;
    right: 1.042vw;
    width: 3.906vw;
    height: 3.906vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3.906vw;
    background-color: #EEDBBA;
    opacity: 0;
    pointer-events: none;
    transition: all .1s ease;
    z-index: 90;
}
.upbtn.active{
    opacity: 1;
    pointer-events: all;
}
.upbtn svg{
    width: 1.563vw;
    height: auto;
}
@media (max-width: 768px) {
    .upbtn{
        bottom: 16px;
        right: 16px;
        width: 65px;
        height: 65px;
        min-width: 65px;
    }
    .upbtn svg{
        width: 20px;
    }
}